body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Georgia, serif, 'Courier New',
    monospace;
}